body {
    background-color: black;
}

.container {
    position: relative;
    top: -30px;
    background-image: url(../images/animal.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    height: 500px;
    text-align: center;
}
#questions {
    position: relative;
    top: 100px;
}
p {
    color: red;
}